
body {
  background-color:#EAF6F6;

  }
  hr{

border-style: none;
border-top-style: dotted;

border-color: grey;
border-width: 5px;
width: 5%;
  }
img{
  height: 250px;
}
h1{
  color: #66BFBF;
}

h2{

  color:#66BFBF;
} 
